#home {
  background-position: top center;
  background-size: 100% auto;
  background-image: url('assets/background.webp');
  background-image: -webkit-image-set(url('assets/background.webp') 1x, url('assets/background.png') 2x); // Safari fallback
  background-image: image-set(url('assets/background.webp') 1x, url('assets/background.png') 2x); // Other browsers
}